# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/

.vscode/
.vs/
typings/
www/lib/
www/css/*
!www/css/style.css
www/js/*
!www/js/platformOverrides.js

bld/
bin/
*.user
*.suo